@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Work+Sans:300,400,600&display=swap');
/* Created all the variables, that I will use in the code */
:root {
    --accent: #DE677F;
    --light: #B4BFE3;
    --lightText: #97A0BE;
    --dark: #373756;
    --overlayStart: rgba(55,55,86,.9);
    --overlayEnd: rgba(55,55,86,.7);
    --ease: all 0.3s ease 0s;
}
/* Created the "global" rules*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This doesn't let the navigation bar to reach sides of the page*/
.container {
	width: 80%;
	margin: 0 auto;
}
/*Sets the background of the navigation bar*/
header {
  background: var(--dark);
}
/*Does not let the header to disappear after moving navigation to the right*/
header::after {
  content: '';
  display: table;
  clear: both;
}
/*Moves the navigation bar to the right*/
nav {
  float: right;
}
/*Deletes the empty space around listed items and dots before them*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*Lists items in a row, while putting space in between them and from the top*/
nav li {
  display: inline-block;
  margin-right: 200px;
  padding-top: 15px;
  position: relative;
}
/*Sets the font, color and the size of the text in nav section  */
nav a {
  color: var(--lightText);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
/*Makes the text change its colour in the nav section, when hovering on text*/
nav a:hover {
  color: var(--light);
}
/*Creates a line above the text in the navigation bar*/
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--lightText);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
/*Makes the line to only appear above specific word in the nav*/
nav a:hover::before {
  width: 100%;
}

body {
    background-color: var(--dark);
}

h1, i {
    color: var(--light);
}

p, a {
    color: var(--lightText);
    text-decoration: none;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 72px;
    font-weight: 300;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "top"
}

.top {
    grid-area: top;
    background-image: linear-gradient(to right, var(--overlayStart), var(--overlayEnd)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-gap: 20px;
    grid-template-areas: ". top_content top_profile ."
}

.top_content {
    grid-area: top_content;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.subtitle {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 18;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 80px;
}

.underline {
    text-decoration: none;
    position: relative;
}

.underline:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    border-width: 1.5px;
    border-style: solid;
    color: var(--accent);
    animation-name: underline;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes underline {
    0% {width: 0%}
    100% {width: 100%}
}

.top_profile {
    grid-area: top_profile;
    align-self: center;
    justify-self: center;
    background-image: url(images/profile.jpg);
    width: 526px;
    height: 526px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.social {
    display: flex;
}

.social_item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.social_item:not(:first-child) {
    margin-left: 50px;
}

i{
    font-size: 25px;
}

.social_copy {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
    transition: var(--ease);
}

.social_copy:hover {
    filter: brightness(150%);
}

@media only screen and (max-width: 1280px) {
    .top {
        grid-template-columns: 1fr;
        grid-template-areas: "top_content"
    }

    .top_profile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .top_content {
        transform: scale(.85);
    }

    .social {
        flex-direction: column;
    }
    
    .social_item:not(:first-child) {
        margin-left: 0;
    }

    .top_profile {
        display: none;
    }   

    .underline:after {
        bottom: -5px;
    }
}