@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Work+Sans:300&display=swap');

:root {
    --accent: #DE677F;
    --light: #B4BFE3;
    --lightText: #97A0BE;
    --dark: #373756;
    --overlayStart: rgba(55,55,86,.9);
    --overlayEnd: rgba(55,55,86,.7);
    --ease: all 0.3s ease 0s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark);
}

h1, i {
    color: var(--light);
}

p, a {
    color: var(--lightText);
    text-decoration: none;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 72px;
    font-weight: 300;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "top"
}

.top {
    grid-area: top;
    background-image: linear-gradient(to right, var(--overlayStart), var(--overlayEnd)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-gap: 20px;
    grid-template-areas: ". top_content top_profile ."
}

.top_content {
    grid-area: top_content;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.subtitle {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 18;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 80px;
}

.underline {
    text-decoration: none;
    position: relative;
}

.underline:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    border-width: 1.5px;
    border-style: solid;
    color: var(--accent);
    animation-name: underline;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes underline {
    0% {width: 0%}
    100% {width: 100%}
}

.top_profile {
    grid-area: top_profile;
    align-self: center;
    justify-self: center;
    background-image: url(images/profile.jpg);
    width: 526px;
    height: 526px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.social {
    display: flex;
}

.social_item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.social_item:not(:first-child) {
    margin-left: 50px;
}

i{
    font-size: 25px;
}

.social_copy {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
    transition: var(--ease);
}

.social_copy:hover {
    filter: brightness(150%);
}

@media only screen and (max-width: 1280px) {
    .top {
        grid-template-columns: 1fr;
        grid-template-areas: "top_content"
    }

    .top_profile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .top_content {
        transform: scale(.85);
    }

    .social {
        flex-direction: column;
    }
    
    .social_item:not(:first-child) {
        margin-left: 0;
    }

    .top_profile {
        display: none;
    }   

    .underline:after {
        bottom: -5px;
    }
}