@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Work+Sans:300,400,600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.navigation {
	width: 80%;
    margin: 0 auto;
}

header {
  background: #373756;
  height:40px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 200px;
  padding-top: 15px;
  position: relative;
}

nav a {
  color: #97A0BE;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #B4BFE3;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #97A0BE;
  position: relative;
  bottom: 15px;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}